:host {
  display: grid;
  grid-template: auto / minmax(auto, 80rem);
  justify-content: center;
}

.featured {
  padding: 0.125rem 0;
  background-color: transparent;
  display: grid;
  gap: 1rem;
  grid-template: repeat(auto-fit, 1fr) / 1fr;
}

figure {
  position: relative;
  height: 20rem;
}

figure::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

figure img {
  display: block;
  object-fit: cover;
  object-position: center 30%;
  height: 100%;
  width: 100%;
}

figure figcaption {
  background-color: transparent;
  color: var(--white);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

figure figcaption h1 {
  font-size: 2.5rem;
  line-height: 1;
  text-transform: uppercase;
}

figure figcaption h1 span {
  color: #f4d35e;
}

figure figcaption h2 {
  font-size: 1.25rem;
  line-height: 1;
  text-transform: uppercase;
}

figure figcaption p {
  margin-top: 0.5rem;
  line-height: 1.25;
}

.featured-headlines h3 {
  color: var(--white);
  background-color: #21295c;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem;
}

.featured-headlines ul {
  list-style: none;
  padding: 0;
  background-color: #1b3b6f;
}

.featured-headlines a {
  color: var(--white);
  padding: 0.5rem 1rem;
  display: block;
}

.featured-headlines a:hover {
  text-decoration: none;
}

@media screen and (min-width: 80rem) {
  .featured {
    padding: 0.125rem;
    background-color: #21295c;
    grid-template: repeat(4, 8rem) / repeat(4, 1fr);
    gap: 0.125rem;
  }

  .featured .featured-leader {
    grid-area: 1 / 1 / 4 / 4;
  }

  .featured .featured-sub-1 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .featured .featured-sub-2 {
    grid-area: 4 / 2 / 5 / 3;
  }

  .featured .featured-sub-3 {
    grid-area: 4 / 3 / 5 / 4;
  }

  .featured .featured-headlines {
    grid-area: 1 / 4 / 5 / 5;
  }

  figure {
    height: 100%;
  }

  figure figcaption p {
    margin-top: 0;
  }

  .featured .featured-headlines {
    display: grid;
    grid-template: 1fr 4fr / 1fr;
  }

  .featured .featured-headlines h3 {
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }

  .featured .featured-headlines ul {
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
    align-items: center;
  }

  .featured .featured-headlines ul li {
    display: contents;
  }

  .featured .featured-headlines a:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
