<section class="featured">
  <article class="featured-leader">
    <a href="#">
      <figure>
        <img
          src="https://uploads.codesandbox.io/uploads/user/7fb5019c-a50e-47ab-9f3c-12c9f53fb8bc/Qrid-action-gcc-jeannette.jpg"
        />
        <figcaption>
          <h1><span>Live!</span> On WSN: GCC vs. Jeannette</h1>
          <p>
            Jawhawks look to upset GCC for all the dang beans bruh
          </p>
        </figcaption>
      </figure>
    </a>
  </article>
  <article class="featured-sub-1">
    <a href="#">
      <figure>
        <img
          src="https://uploads.codesandbox.io/uploads/user/7fb5019c-a50e-47ab-9f3c-12c9f53fb8bc/IKCW-action-gcc-marko.jpg"
        />
        <figcaption>
          <h2>Marko here to stay</h2>
          <p>
            GCC hires Marko Thomas to guide football program
          </p>
        </figcaption>
      </figure>
    </a>
  </article>
  <article class="featured-sub-2">
    <a href="#">
      <figure>
        <img
          src="https://uploads.codesandbox.io/uploads/user/7fb5019c-a50e-47ab-9f3c-12c9f53fb8bc/lRQX-action-latrobe-hockey.jpg"
        />
        <figcaption>
          <h2>Latrobe melts</h2>
          <p>
            Latrobe hockey suffers devastating loss to Spangboro, 17-1
          </p>
        </figcaption>
      </figure>
    </a>
  </article>
  <article class="featured-sub-3">
    <a href="#">
      <figure>
        <img
          src="https://uploads.codesandbox.io/uploads/user/7fb5019c-a50e-47ab-9f3c-12c9f53fb8bc/kTat-action-pt-signing.jpg"
        />
        <figcaption>
          <h2>This kid got signed</h2>
          <p>
            St. Francis welcomes new 42-year-old recruit
          </p>
        </figcaption>
      </figure>
    </a>
  </article>
  <div class="featured-headlines">
    <h3>The Buzz</h3>
    <ul>
      <li>
        <a href="#"
          >Hempfield holds off Penn-Trafford; other boys basketball results
          Tuesday</a
        >
      </li>
      <li>
        <a href="#"
          >Latrobe rallies to defeat Gateway; other girls basketball results
          Monday</a
        >
      </li>
      <li>
        <a href="#">GCC hires Marko Thomas to guide football program</a>
      </li>
      <li>
        <a href="#">Monday's Westmoreland County Sports Notebook</a>
      </li>
      <li>
        <a href="#"
          >PIHL Hockey: North Catholic stifles Greensburg Salem Thursday</a
        >
      </li>
    </ul>
  </div>
</section>
