<div>
  <ul class="scores">
    <li>
      <span class="score-sport">Men's Basketball</span>
      <div class="score-grid">
        <div data-team="belle-vernon">B. Vernon</div>
        <span>35</span>
        <div data-team="derry">Derry</div>
        <span>69</span>
      </div>
      <span class="score-time">4th 2:27</span>
    </li>
    <li>
      <span class="score-sport">Men's Basketball</span>
      <div class="score-grid">
        <div data-team="franklin-regional">Fr. Regional</div>
        <span>33</span>
        <div data-team="gcc">GCC</div>
        <span>42</span>
      </div>
      <span class="score-time">3rd 8:37</span>
    </li>
    <li>
      <span class="score-sport">Men's Basketball</span>
      <div class="score-grid">
        <div data-team="greensburg-salem">Gbg. Salem</div>
        <span>&mdash;</span>
        <div data-team="hempfield">Hempfield</div>
        <span>&mdash;</span>
      </div>
      <span class="score-time">7:30PM</span>
    </li>
    <li>
      <span class="score-sport">Women's Basketball</span>
      <div class="score-grid">
        <div data-team="jeannette">Jeannette</div>
        <span>&mdash;</span>
        <div data-team="latrobe">Latrobe</div>
        <span>&mdash;</span>
      </div>
      <span class="score-time">7:30PM</span>
    </li>
    <li>
      <span class="score-sport">Women's Basketball</span>
      <div class="score-grid">
        <div data-team="mount-pleasant">Mt. Pleasant</div>
        <span>13</span>
        <div data-team="norwin">Norwin</div>
        <span>7</span>
      </div>
      <span class="score-time">1st 5:49</span>
    </li>
    <li>
      <span class="score-sport">Women's Basketball</span>
      <div class="score-grid">
        <div data-team="penn-trafford">P. Trafford</div>
        <span>69</span>
        <div data-team="southmoreland">Sthmorelnd</div>
        <span>3</span>
      </div>
      <span class="score-time">Final</span>
    </li>
  </ul>
</div>
<div>
  <a class="all-scores" href="#">More Scores</a>
</div>
