.ad {
  width: 100%;
  vertical-align: middle;
}

header {
  background-color: #232f37;
  display: grid;
  grid-template: 4rem / 12rem 1fr;
  align-content: center;
  padding: 0 1rem;
  box-shadow: 0px -5px 4px -2px rgba(0, 0, 0, 0.5),
    0px 5px 4px -2px rgba(0, 0, 0, 0.5);
}

.logo {
  color: transparent;
  font-size: 0;
  background-image: url("assets/logo_white.png");
  background-size: contain;
  background-position: center center;
}

nav {
  text-transform: uppercase;
  display: flex;
  align-items: stretch;
}

nav:last-of-type {
  justify-content: flex-end;
}

nav a {
  color: var(--white);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  position: relative;
}

nav a:hover {
  text-decoration: none;
}

nav a::after {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #25aae1;
  transform: scale(0);
  transition: transform 0.2s;
}

nav a:hover::after {
  transform: scale(1);
}

.main-nav {
  display: none;
}

@media screen and (min-width: 1280px) {
  header {
    grid-template: 4rem / 12rem 1fr 1fr;
  }

  .main-nav {
    display: flex;
  }
}
