<img class="ad" src="assets/host-gator.png" />
<header>
  <a class="logo" href="/">Westmoreland Sports Network</a>
  <nav class="main-nav" aria-label="Main Navigation">
    <a href="#">Basketball</a>
    <a href="#">Baseball</a>
    <a href="#">Hockey</a>
    <a href="#">Softball</a>
    <a href="#">...</a>
  </nav>
  <nav class="utility-nav" aria-label="Utility Navigation">
    <a href="#">Watch</a>
    <a href="#">Twitter</a>
  </nav>
</header>
<scores-component></scores-component>
