<img
  class="ad"
  src="https://uploads.codesandbox.io/uploads/user/7fb5019c-a50e-47ab-9f3c-12c9f53fb8bc/Cbe4-excela-health.gif"
/>
<header>
  <button class="nav-toggle">Menu</button>
  <a class="logo" href="/">Westmoreland Sports Network</a>
  <nav class="main-nav" aria-label="Main Navigation">
    <a href="#"><span>Live!</span> on WSN</a>
    <a href="#">Basketball</a>
    <a href="#">Baseball</a>
    <a href="#">Hockey</a>
    <a href="#">Softball</a>
  </nav>
</header>
<div class="social"></div>
<scores-component></scores-component>
<featured-component></featured-component>
